 @model QuizApp.Models.Question
@{
    ViewBag.Title = "Index";
}
<script type="text/javascript">
     
        $("#submitButton").live("click", function () {
            $.get($(this), function (response) {
                $("#quiz").replaceWith($("#quiz", response));
           

            });
            return false;
        });

    });

</script>
 
    @using (Html.BeginForm("Index", "Quiz"))
    { 
       
           <h3> @Model.QuestionText  </h3>

          @Html.HiddenFor(x => x.QuestionId)

         <table>
            @foreach (var choice in Model.AnswerChoices)
            {                
                <tr> <td>@Html.RadioButton("answer", @choice.Choices)</td> <td>@choice.Choices </td></tr> 
            }
           </table>
         <hr />
            <p>Current Time: @DateTime.Now.ToLongTimeString() </p>
               
            <input type="submit" value="Next" id="submitButton" />
          
    }
 
<div> @ViewBag.NoQuestions</div>