@model IList< QuizApp.ViewModels.ResultsViewModel>

@{
    ViewBag.Title = "ShowResults";
}

<h2>Results</h2>
<h4>Your total score is <span>@QuizApp.Models.QuizManager.Instance.quiz.Score on @QuizApp.Models.QuizManager.Instance.QuestionCount.</span> </h4>
<h4>Result Summary</h4>
<hr />
<table>
    <thead>
        <tr>
            <th>Question
            </th>
            <th>Your Answer
            </th>
            <th>Right Answer
            </th>
            <th>Score
            </th>
        </tr>
    </thead>
    @foreach (var resultItem in Model)
    {
        <tr>
        <td>
           @resultItem.Questions
        </td>
        <td>
           @resultItem.YourAnswer
        </td>
        <td>
            @resultItem.RightAnswer
        </td>
            <td>
            @resultItem.Score
        </td>
    </tr>
    }
    
</table>
<hr />
@Html.ActionLink("Start Over", "Index", "Quiz")